/* 基础样式 */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0; /* 去掉默认的边距 */
    padding: 0; /* 去掉默认的内边距 */
}

header {
    background-color: #fff;
    padding: 10px 0;
}

.logo {
    width: 120px; /* 缩小 Logo 尺寸 */
    margin: 20px auto; /* 居中显示 */
}

main {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

/* 邀请部分 */
#photo-container {
    position: relative;
    width: 90%; /* 自适应宽度 */
    max-width: 600px; /* 最大宽度限制 */
    margin: 20px auto; /* 居中显示 */
    border-radius: 10px; /* 圆角边框 */
    overflow: hidden; /* 隐藏溢出的部分 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 添加阴影 */
}

#main-photo {
    width: 100%;
    height: auto; /* 保持照片的纵横比 */
    opacity: 0.7; /* 调整照片的淡化程度 */
    transition: opacity 0.3s ease; /* 平滑过渡效果 */
}

#photo-container:hover #main-photo {
    opacity: 0.5; /* 鼠标悬停时更明显的淡化效果 */
}

#invitation-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.6); /* 增加透明度以更好地突出文本 */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7); /* 为文本添加阴影 */
}

button {
    padding: 12px 24px; /* 增加按钮的内边距 */
    font-size: 18px; /* 调整按钮的字体大小 */
    cursor: pointer;
    margin-top: 10px;
    border: none;
    border-radius: 5px; /* 圆角按钮 */
    background-color: #007bff; /* 按钮背景颜色 */
    color: white;
    transition: background-color 0.3s ease; /* 平滑过渡效果 */
}

button:hover {
    background-color: #0056b3; /* 鼠标悬停时的颜色变化 */
}

/* 服务详情部分 */
#service-details {
    margin-top: 20px;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#service-details h2 {
    margin-bottom: 10px;
}

#service-details p {
    margin: 10px 0;
}

#service-details a {
    color: #007bff;
    text-decoration: none;
}

#service-details a:hover {
    text-decoration: underline;
}

/* 音乐控制 */
#music-control {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

#music-control button {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
}
